<!doctype html>
<html>
<head>
    {% block head %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Parallelevent: {% block title %}all your social media are belong to us.{% endblock %}</title>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script>
		var accessToken = '{{ user_profile.access_token }}';
	</script>

	<script src="/static/app.js"></script>

	<ul id="auth">
	{% for service in services %}
		<li>
		<a href="/authenticate/{{ service.lower }}">
			{% if service.lower in profiles %}
				<span class="check">&#10003;</span>"
			{% endif %}
			{{ service }}
		</a>
		</li>
	{% endfor %}
	</ul>

    <link rel="stylesheet" href="/static/all.css" type="text/css" media="screen" charset="utf-8">
    {% endblock %}
</head>

<body>
    <div id="header">
    {% block header %}
        <h1>Parallelevent!</h1>
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}

    {% endblock %}
    </div>
    
    <div id="footer">
    {% block footer %}

    {% endblock %}
    </div>
</body>
</html>
